.home {
  width: 75%;
  height: 100vh;
  margin: 0 auto;

  .hero {
    height: 500px;
    background-image: url("./images/groceries.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
      font-size: 50px;
      font-family: marshmallow;
    }

    h1 {
      font-size: 80px;
      font-family: marshmallow;
    }
  }
}

@media screen and (max-width: 530px) {
  .home {
    width: 530px;

    .hero {
      h1 {
        font-size: 60px;
        padding-top: 80px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .home {
    width: 300px;

    .hero {
      h1 {
        font-size: 40px;
      }
    }
  }
}
